<h1>page answer</h1>
<div class = "ques-answer">
<h2 class = "question"><%= @question%>-You</h2>
<h2 class = "answer"><%= @answer %>-Your coach</h2>
</div>
<%= link_to "ask a new question", ask_path %>
